<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121047991117-q1i3evp850fe250boutcbpn9ii9a7f9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121047991117-q1i3evp850fe250boutcbpn9ii9a7f9j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>121047991117-d8871kn08uhrrkdhq0tpnmrpu984v2dk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBAaOijreTqoNBcJQ5TchS5t2MFzgDXbEc</string>
	<key>GCM_SENDER_ID</key>
	<string>121047991117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evolve.appstore</string>
	<key>PROJECT_ID</key>
	<string>evolvegt-152307</string>
	<key>STORAGE_BUCKET</key>
	<string>evolvegt-152307.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121047991117:ios:d908373298fc2a0e</string>
	<key>DATABASE_URL</key>
	<string>https://evolvegt-152307.firebaseio.com</string>
</dict>
</plist>